.App {
  text-align: center;
  margin-top: 80px;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

.searchBar {
  position: fixed; /* or 'absolute' if positioned relative to a parent container */
  bottom: 410px; /* Adjust this value according to your layout */
  right: 80px; /* Adjust this value according to your layout */
}

.deleteButton {
  /* Styles for the delete button */
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  /* Add other styles as needed */
}


body{
  background: linear-gradient(135deg, #4b95d1, #bebece);}

